  <html>
    <head>
        <title>{{title}}</title>
        <meta name="appleid-signin-client-id" content="{{clientId}}">
        <meta name="appleid-signin-scope" content="{{scopes}}">
        <meta name="appleid-signin-redirect-uri" content="{{redirectUrl}}">
        <meta name="appleid-signin-state" content="{{state}}">
    </head>
    <body>
        <h1>Hello</h1>
        <p>Welcome to Apple</p>
        <p>Sign in with apple</p>
        <div id="appleid-signin" class="signin-button" data-color="black" data-border="true" data-type="sign in"></div>
        <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
    </body>
  </html>