<h1>POST Response</h1>

<h2>Sent State</h2>
<p>{{sentState}}</p>

<h2>Payload State (verify at backend with sent state to prevent CSRF attacks)</h2>
<p>{{receivedState}}</p>

<h2>Code</h2>
<p>{{code}}</p>

<h2>ID Token</h2>
<p>{{idToken}}</p>

<h2>User Object</h2>
<p>{{userObject}}</p>

<h2>JWT Payload</h2>
<p>{{jwtPayload}}</p>

<p>The payload should be used to verify iss (issuer which is apple), aud (client_id), exp (expiration time) and iat(issued at). See more at <a href="https://developer.apple.com/documentation/sign_in_with_apple/sign_in_with_apple_rest_api/authenticating_users_with_sign_in_with_apple" target="_blank">Apple's documentation.</a></p>

<h2>JWT Headers</h2>
<p>{{jwtHeader}}</p>

<p>The header 'kid' can be checked with Apple's public key <a href="https://appleid.apple.com/auth/keys" target="_blank">here.</a></p>

<h3>Sign Up Again</h3>
<a href="/">Start again here.</a>
<p>Before you restart your sign up, <a href="https://appleid.apple.com/account/manage">sign into your Apple ID</a> and revoke App Permissions for SkyDRM PRO under <br> Security > Apps & Website Using Apple ID > Manage... > SkyDRM PRO > Stop Using Apple ID</p>